<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection"content="telephone=no" />
		<title>众筹平台</title>
		<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/global.css" rel="stylesheet">
		<link href="./css/reset.css" rel="stylesheet">
		<link href="./css/main.css" rel="stylesheet">
		<script src="./js/jquery.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/vue.js"></script>
		<script src="js/globel.js"></script>
	</head>
	<body id="app">
		<div id="response-message"><span></span><a href="javascript:void(0);" class="close" onclick="closeResponseMessage()">&times;</a></div>
		<header>
			<div class="header-bar">
				<div class="header-bar-previous pull-left">
					<a href="javascript:history.back();" ><span class="glyphicon glyphicon-menu-left"></span></a>
				</div>
				<div class="header-bar-content">
					<h4>众筹平台</h4>
				</div>
			</div>
		</header>
		
		<section class="fund-raise-list" v-cloak>
			<div id="page_list">
				<dl v-for="list in lists">
					<dt>
						<a href="fund_raise_detail.html?pId={{ list.pId }}">
						<img v-bind:src="list.image == '' ? './images/fund_raise1.jpg' : list.image" class="img-responsive" style="min-height:100px;" /></a>
						<div class="title transparent-background-black">
							<span class="pull-left">{{ list.name.substring(0, 5) }}</span><span class="pull-right">所属行业: {{ list.industry == '' ? "未知" : list.industry.substring(0, 5) }}</span>
						</div>
					</dt>
					<dd class="introduce">
						项目简介：
						<p>{{ list.content.substring(0, 26) }}</p>
					</dd>
					<dd>
						<table width="100%">
							<tr>
								<td colspan="3">
									<div class="progress">
									    <div class="progress-bar  progress-bar-warning" v-bind:style="{ width:list.progress + '%' }">
									        <span class="sr-only">{{ list.progress }}% Complete</span>
									    </div>
									</div>
								</td>
							</tr>
							<tr>
								<td>已筹: <span class="price">{{ list.currentMoney }}</span>元</td>
								<td>支持: <span class="price">{{ list.supportNum }}</span>人</td>
								<td>进度: <span class="price">{{ list.progress }}%</span></td>
							</tr>
						</table>
					</dd>
				</dl>
				<div style="clear:both"></div>
				<div v-if="next_page == 1"><a class="btn btn-default btn-lg btn-block" v-on:click="next()">加载下一页</a></div><div v-if="next_page == 0"><p class="text-danger text-center">无更多数据</p></div>
				</div>
			</div>
		</section>


<script type="text/javascript">
var vm = new Vue({
	el: "#app",
	data: {
		lists: [],
		limit: 0,
		page: 0,
		cityId: 0,
		next_page: 0
	},
	created: function () {
		this.limit = getGlobalVal('limit');
		this.page = getGlobalVal('page');
		this.cityId = getGlobalVal("cityId");
		this.getList();
	},
  	methods: {
	    getList: function (page) {
	    	if(!page){
	    		page = this.page;
	    	}else{
	    		this.page = page;
	    	}
			var postData = {
				'page':page,
				'limit':this.limit,
				'cityId':this.cityId
			};
			var _this = this;
			$.ajax({
				'type': 'get',
				'dataType': 'json',
				'data': postData,
				'url': appurl + 'project/getList',
				'success': function(data) {
					if(errorMessage(data)){
						if(data.body.length == 0 && _this.lists.length == 0){
							$("#page_list").html('<div style="font-size:16px;color:#f00;text-align:center;">无数据</div>')
							_this.next_page = 3;
							return false;
						}else{
							if(data.body.length == 0){
								_this.next_page = 0;
							}else{
								var img_arr = [];
								$.each(data.body, function(k, v){
									data.body[k].progress = parseInt(v.progress*100) > 100 ? 100 : parseInt(v.progress*100);
									img_arr = v.image.split(",");
									data.body[k].image = img_arr[0]
								});
								for(var i=0; i<data.body.length; i++){
									_this.lists.push(data.body[i]);
								}
								if(data.body.length < _this.limit){
									_this.next_page = 0;	
								}else{
									_this.next_page = 1;	
								}
							}
						}
					}
				}
			});
	    },
	    next: function(){
	    	var page = parseInt(this.page) + 1;
	    	this.page = page;
	    	this.getList(page)
	    }
  	}
})
</script>
	</body>
</html>