<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection"content="telephone=no" />
		<title>今日头条</title>
		<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/global.css" rel="stylesheet">
		<link href="./css/reset.css" rel="stylesheet">
		<link href="./css/main.css" rel="stylesheet">
		<script src="./js/jquery.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<script src="./js/vue.js"></script>
		<script src="./js/globel.js"></script>
	</head>
	<body id="app">
		<div id="response-message"><span></span><a href="javascript:void(0);" class="close" onclick="closeResponseMessage()">&times;</a></div>
		<header>
			<div class="header-bar">
				<div class="header-bar-previous pull-left">
					<a href="javascript:history.back();" ><span class="glyphicon glyphicon-menu-left"></span></a>
				</div>
				<div class="header-bar-content">
					<h4>今日头条</h4>
				</div>
			</div>
		</header>

		<section class="news-list" v-cloak>
			<div class="container" id="page_list">
				<dl v-for="new in news">
					<dt>
						<a href="news_detail.html?id={{ new.id }}"><img v-bind:src="new.image == '' ? './images/news.jpg' : new.image" class="img-responsive" /></a></dt><dd>
						<div>
							<a href="news_detail.html?id={{ new.id }}"><span class="title pull-left">{{ new.title }}</span></a>
							<span class="date pull-right">{{ new.date }}</span>
						</div>
						<div class="clearfix"></div>
						<p>{{ new.intro }}</p>
					</dd>
				</dl>
				<div style="clear:both"></div>
				<div v-if="next_page == 1"><a class="btn btn-default btn-lg btn-block" v-on:click="next()">加载下一页</a></div><div v-if="next_page == 0"><p class="text-danger text-center">无更多数据</p></div>
			</div>
		</section>


<script type="text/javascript">
var vm = new Vue({
	el: "#app",
	data: {
		limit: 0,
		page: 0,
		news: [],
		next_page: 0
	},
	created: function () {
		this.limit = getGlobalVal('limit');
	//	this.limit = 2;
		this.page = getGlobalVal('page');
		this.cityId = getGlobalVal("cityId");
		this.getList();
	},
  	methods: {
	    getList: function (page) {
	    	if(!page){
	    		page = this.page;
	    	}else{
	    		this.page = page;
	    	}
			var postData = {
				'page':page,
				'limit':this.limit,
				'cityId':this.cityId
			};
			var _this = this;
			$.ajax({
				'type': 'get',
				'dataType': 'json',
				'data': postData,
				'url': appurl + 'news/getList',
				'success': function(data) {
					if(errorMessage(data)){
						if(data.body.length == 0 && _this.news.length == 0){
							$("#page_list").html('<div style="font-size:16px;color:#f00;text-align:center;">无数据</div>')
							_this.next_page = 3;
							return false;
						}else{
							if(data.body.length == 0){
								_this.next_page = 0;
							}else{
								$.each(data.body, function(k, v){
									data.body[k].intro = subString(v.intro, 50, true);
								});
								for(var i=0; i<data.body.length; i++){
									_this.news.push(data.body[i]);
								}
								if(data.body.length < _this.limit){
									_this.next_page = 0;	
								}else{
									_this.next_page = 1;	
								}
							}
						}
					}
				}
			});
	    },

	    next: function(){
	    	var page = parseInt(this.page) + 1;
	    	this.page = page;
	    	this.getList(page)
	    }
  	}
})
</script>
	</body>
</html>